<header class="header section">
  <div class="container">
    <div class="navigation">
      <a
        href="./index.html"
        class="navigation__home navigation__home--from-my-library"
        >home</a
      >
      <a
        href="./my-library.html"
        class="navigation__library navigation__library--from-my-library"
        id="myLibrary">my library</a
      >
      <button href="./my-library.html?list=watched" class="navigation_watched inactive" id="watchedMovies">watched</button>
      <button href="./my-library.html?list=queued" class="navigation_queue inactive" id="queuedMovies">queue</button>
    </div>
    <a class="logo" href="./index.html">
      <svg width="59" height="59">
        <use href="./images/svg/icons.svg#icon-film"></use>
      </svg>
      <h1 class="logo__text">Filmoteka</h1>
    </a>
  </div>
</header>
